/* border-radius: (top-left) (top-right) (bottom-right) (bottom-left) / (left-top) (right-top) (right-bottom) (left-bottom) */
.App {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
nav {
	padding: 10px;
}
.Boxes {
	position: relative;
	padding: 10px 20px 20px 20px;
	flex-grow: 1;
	display: flex;
}
.ball {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	position: absolute;
	right: 30px;
	top: 20px;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.089);
	transition: 0.2s ease all;
}
.green {
	background: green;
}
.orange {
	background: orange;
	right: 60px;
}
.red {
	background: red;
	right: 90px;
}
.ball:hover {
	transform: scale(1.5);
}
@media only screen and (max-width: 768px) {
	.Boxes {
		flex-direction: column;
	}
}
