:root {
	--black: rgba(0, 0, 0, 0.616);
	--white: white;
	--shadow: 3px 3px 10px rgba(0, 0, 0, 0.096);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: rgba(0, 0, 255, 0.041);
}
